* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: #3abeff;
  --secondary-color: ;
  --accent-color: ;
  --text-color: #fff;
  --background-color: #111;

  --header-height: 64px;
}

body {
  padding-top: var(--header-height);
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px 48px;

  background-color: #3abeff88;
  backdrop-filter: blur(3px);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
}

header .right ul {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
}

header .right ul li a {
  text-decoration: none;
  color: var(--text-color);
}

header .right ul li.active {
  font-weight: bold;
  text-decoration: underline;
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 64px 88px;
  height: 675px;
}

.hero .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 24px;
}

.hero h1 {
  font-size: 36px;
}
.hero p {
  font-size: 18px;
}
.hero a {
  margin-top: 18px;
  font-size: 18px;
}

.hero .right {
  width: 50%;
}

.hero .right img {
  width: 100%;
  height: auto;
  border-radius: 24px 64px;
}

/* Button Styles */
.btn-1 {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  color: var(--background-color);
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  width: max-content;
  margin-top: 8px;
  transition: 0.2s;
}

.btn-1:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
}
