* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  border-bottom: 1px solid black;
}

header .title {
  font-size: 28px;
  margin: 18px 0;
}

header .right ul {
  gap: 18px;
  font-size: 18px;
  list-style: none;
  display: flex;
  align-items: center;
}

header .right ul li .active {
  text-decoration: underline;
}

main {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
}

main .left {
  display: flex;
  flex-direction: column;
}

main .left .title {
  font-size: 48px;
}

main .left p {
  font-size: 20px;
}

main .left .special-link {
  color: white;
  background-color: black;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  border: 2px solid black;
  transition: background 0.3s, color 0.3s;
  width: max-content;
}

main .left .special-link:hover {
  color: black;
  background-color: white;
}
